<%- include('partials/header.ejs') %>

<main>
  <div class="title">
    <h1><%= title %></h1>
  </div>
  <div class="tableList">
    <div class="listItems">
      <% for(var i = 0; i < itemsData.length; i++) {%>
      <div class="items">
        <input type="checkbox" />
        <p><%= itemsData[i] %></p>
      </div>
      <% } %>
    </div>
    <form action="<%= formAction %>" class="addItems" method="post">
      <input type="text" name="newItem" placeholder="Input Text" required />
      <button type="submit" name="submitItem">+</button>
    </form>
  </div>
</main>
<%- include('partials/footer.ejs') %>
